
.desc {
    line-height: 35px;
}

.header {
    display: block;
}

b {
    font-size: 16.5px;
}

.eduMain {
    padding-top: 4%;
    margin: auto;
}


.container {
    margin: auto;
}

.rightTxt {
    color: #555555;
}

@media only screen and (min-width: 1200px) {
    .line {
        margin-left: 20vw;
        margin-right: 15vw;
    }

    .desc {
        margin-left: 17vw;
        margin-right: 17vw;
    }

    .header {
        margin-left: 21vw;
    }

    .paraContent {
        padding-bottom: 1px;
        margin-left: 15%;
    }

    .paraName {
        width: 15%;
        float: left;
        padding-top: 7px;
    }

    .rightTxt {
        float: right;
        text-align: right;
    }

    br {
        display: none;
    }
}

@media only screen and (max-width: 1200px) {
    .rightTxt {
        float: left;
        text-align: left;
    }

    .eduMain {
        padding-bottom: 5rem;
        margin: auto;
    }

    .header {
        text-decoration: underline;
    }
}