:root {
    --bg-primary: #23232e;
    --bg-secondary: #555555;
    font-family: "Roboto";
}

body {
    color: black;
    background-color: white;
    margin: 0;
    padding: 0;
}

main {
    padding: 1rem;
}

select:focus {
    outline: none;
}

@media only screen and (min-width: 1200px) {
    main {
        margin-left: 5rem;
    }

    hr {
        margin-left: 22vw;
        margin-right: 22vw;
    }
}

@media only screen and (max-width: 1200px) {
    main {
        margin-bottom: 5rem;
    }
}

@media only screen and (min-width: 500px) {
    body::-webkit-scrollbar {
        width: 0.75rem;
    }

    body::-webkit-scrollbar-track {
        background: #e6e6e6;
    }

    body::-webkit-scrollbar-thumb {
        background: var(--bg-primary);
    }
}