.desc {
    line-height: 35px;
}

h2.desc {
    margin-top: 50px;
}

.imageDiv {
    display: flex;
    justify-content: center;
}

.toggleButton {
    display: flex;
    justify-content: center;
}

.pdfBorder  {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.pdfBorderStyle {
    border-style: solid;
    border-color: #23232e;
    border-radius: 10px;
    overflow: hidden;
    border-width: 1px;
    margin-bottom: 200px;
}

.image {
    margin-top: 3%;
    width: 10rem;
    border-radius: 100%;
}

.title {
    padding-top: 5px;
    text-align: center;
}

.mainLink {
    color: black;
}

.mainLink:visited {
    color: black;
}

@media only screen and (min-width: 1200px) {
    .desc {
        margin-left: 18vw;
        margin-right: 18vw;
    }

    h2 {
        margin-left: 25vw;
        margin-right: 25vw;
    }
}
