.desc {
    line-height: 35px;
}

h2.desc {
    margin-top: 50px;
}

.imageDiv {
    display: flex;
    justify-content: center;
}

.pdfBorder {
    display: flex;
    justify-content: center;
}

.pdfBorder canvas {
    margin-top: 15px;
    border-style: solid;
    border-radius: 10px;
    border-color: #23232e;
    border-width: 1px;
}

.image {
    margin-top: 3%;
    width: 10rem;
    border-radius: 100%;
}

.title {
    padding-top: 5px;
    text-align: center;
}

.mainLink {
    color: black;
}

.mainLink:visited {
    color: black;
}

@media only screen and (max-width: 650px) {
    .pdfBorder canvas {
        border-style: none;
        margin-top: 0;
    }

    .pdfBorder {
        width: 100%;
    }
}

@media only screen and (min-width: 1200px) {
    .desc {
        margin-left: 18vw;
        margin-right: 18vw;
    }

    h2 {
        margin-left: 25vw;
        margin-right: 25vw;
    }
}
